name: ci

on:
  push:
    branches:
      - "**"
  pull_request:

jobs:
  rust:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Cache Cargo Artifacts
        uses: Swatinem/rust-cache@v2

      - name: Format Check
        run: cargo fmt -- --check

      - name: Lint
        run: cargo clippy --all-targets -- -D warnings

      - name: Test
        run: cargo test --all-targets -- --test-threads=1

      - name: Install cargo-audit
        run: cargo install cargo-audit --locked

      - name: Security Audit
        run: cargo audit
